

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
</head>
<body>
<h1>{{ message }}</h1>
<p>Bienvenue sur la page d'accueil rendue par Twig !</p>
</body>
</html>